/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  padding: 20px;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}